############
## xBase
############
*.FXP
*.BAK
*.app
*.exe
*_ref.*
*.err
*.log
*.act
*.lst
*.tbl
foxuser.*
*.ini


## 4me
*.gif
*.PNG
graphics/*.jpg
*.foxclub
*.category
*.zip
*.7z
*.xml
temp/*
forms/form1.scx
forms/form1.SCT
data/*
